.overlay {
    background-image: url(../public/img/Mask.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.block_overlay {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    margin-left: 600px;
}

.in_block {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 529px;
}

.in_block h3 {
    color: #F6623E;
    font-size: 26px;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
}

.in_block h1 {
    color: #000000;
    font-size: 56px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}

.in_block p {
    color: #000000;
    font-size: 16px;
    line-height: 29px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    padding-bottom: 38px;
}

.in_block button{
    background-color: #F6623E;
    color: white;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 12px 25px;
}

.vitamins_block{
    padding: 60px 120px;
    position: relative;
    bottom: 360px;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    align-items: center;
}

.title{
    text-align: center;
    width: 759px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.hr_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

hr{
    border: 2px #F6623E solid;
    width: 127px;
}

.title p{
    font-size: 18px;
    font-weight: 400;
}

.vitamins{
    display: flex;
    gap: 30px;
}

.about_sale{
    padding: 60px 363px;
    position: relative;
    bottom: 300px;
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: space-between;
}

.avia_box{
    width: 284px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.avia_box h3{
    font-weight: 500;
    font-size: 24px;
}

.avia_box p{
    color: #828181;
    font-weight: 400;
    font-size: 16px;
}

.take_control{
    padding: 60px 120px;
    position: relative;
    bottom: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Jost", sans-serif;
}

.flex{
    display: grid;
    grid-template-columns: 450px 1fr;
    align-items: center;
}

.takeebox h1{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
}

.takeebox{
    width: 515px;
}

.takeebox p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}

.takeebox button{
    background-color: transparent;
    border: 2px #F6623E solid;
    font-size: 16px;
    padding: 18px 25px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
}

.products{
    padding: 60px 120px;
    position: relative;
    bottom: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    gap: 60px;
}

.product_img{
    display: flex;
    justify-content: space-between;
}

.products button{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: "Jost", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: 2px #F6623E solid;
    padding: 12px 25px;
    font-weight: 600;
}

.goodme{
    background-color: #FEF0E7;
    padding: 216px 330px;
    position: relative;
    bottom: 200px;
    font-family: "Jost", sans-serif;
}

.goodme h3{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 40px;
}

.goodme h2{
    font-weight: 500;
    color: #F6623E;
    font-size: 30px;
    padding-bottom: 10px;
}

.left_good{
    width: 620px;
}

.goodme p{
    padding: 10px 0;
    font-size: 26px;
    font-weight: 500;
    line-height: 44px;
}

.goodme span{
    font-size: 16px;
    color: #F6623E;
    font-weight: 600;
}

.arrow{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.ins_goodmix{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.shop{
    padding: 60px 120px;
    position: relative;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    gap: 60px;
}

.shop_img{
    display: flex;
   gap: 10px;
}

.shop button{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: "Jost", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: 2px #F6623E solid;
    padding: 12px 25px;
    font-weight: 600;
}