.upper_header{
    font-family: "Jost", sans-serif;
    padding: 15px 120px;
    background-color: #F6623E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.upper_header a{
    text-decoration: none;
    color: #FFFFFF;
}

.inviting{
    display: flex;
    align-items: center;
    gap: 20px;
    align-items: center;
}

.select_block{
    display: flex;
    align-items: center;
    gap: 7px;
}

select{
    background-color: transparent;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    border: none;
    color: #FFFFFF;
}

option{
    color: black;
}

.header{
    padding: 28px 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul, li, ol{
    list-style: none;
}

.header ul{
    display: flex;
    gap: 20px;
}

.header li{
    color: black;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.log_box{
    gap: 15px;
    display: flex;
}